@charset "utf-8";

.LK_EG {
    -moz-box-shadow: -2px 0 16px #4d454d;
    -webkit-box-shadow: -2px 0 16px #4d454d;
    box-shadow: -2px 0 16px #4d454d;
    padding: 2%;
    position: relative;
}
#tx1{
	font-size: 30px;
	padding-left: 5%;
}
.tx1{
	font-size: 30px; 
	font-weight : 500; 
	margin: 3%;
}
.tx2{
	font-size: 40px;
	font-weight : 900; 
	margin: 2%;
}

.PT{
	bottom: 100px;
}
/* 게이지바탕색 */
.LK_ba {
	position:absolute;
	bottom:20px;
    background-color: white;
    border: 1px solid black;
    width: 45%;
    border-radius: 10px 10px 10px 10px;
}
/* 게이지색상 */
#LK_ba {
    height: 30px;
    background-color: blue;
    width: 100%;
    border-radius: 0.5rem;
}
.LK_BF{
    position: absolute;
    clear: left;
    float: left;
    bottom: 0;
    width: 90%;
}


#LK_row {
    position: relative;
    background-color: rgb(187, 197, 206);
    margin-right: 0;
    margin-bottom: 0;
}
.LK_end {
    position: absolute;
    height: 130ch;
    background-image: url("../img/soldout.png");
    background-size: 40% 40%;
    background-position: center top;
    z-index: 2;
    background-repeat: no-repeat;
}
.LK_end2 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 50px;
    z-index: 1;
}
.LK_Pnum{
font-size: 30px;
letter-spacing: 15px;
word-spacing: nullpx;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


#PM{
	font-size:30px;
}
.btn_GB{
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	background: #fff;
	color: #5256ad;
	border-radius: 5px;
	cursor: pointer;
}

