@charset "utf-8";

.LK_EG {
    -moz-box-shadow: -2px 0 16px #4d454d;
    -webkit-box-shadow: -2px 0 16px #4d454d;
    box-shadow: -2px 0 16px #4d454d;
    padding: 2%;
    position: relative;
}
#tx1{
	font-size: 30px;
	padding-left: 5%;
}
.tx1{
	font-size: 30px; 
	font-weight : 500; 
	margin: 3%;
}
.tx2{
	font-size: 40px;
	font-weight : 900; 
	margin: 2%;
}

.PT{
	bottom: 100px;
}
/* 게이지바탕색 */
.LK_ba {
    background-color: white;
    bottom:0;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}
/* 게이지색상 */
#LK_ba {
    height: 30px;
    background-color: blue;
    width: 100%;
    border-radius: 0.5rem;
}
.LK_BF{
    position: absolute;
    clear: left;
    float: left;
    bottom: 0;
    width: 90%;
}


#LK_row {
    position: relative;
    background-color: rgb(187, 197, 206);
    margin-right: 0;
    margin-bottom: 0;
}
.LK_end {
    position: absolute;
    height: 160ch;
    background-image: url("../img/soldout.png");
    background-size: 40% 40%;
	background-color: rgba( 200, 200, 200, 0.5 );
    background-position: center top;
    z-index: 2;
    background-repeat: no-repeat;
}
.LK_end2 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    color: #000;
    font-size: 50px;
    z-index: 1;
}
.LK_Pnum{
font-size: 30px;
letter-spacing: 15px;
word-spacing: nullpx;
color: #000000;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


#PM{
	font-size:30px;
}
.btn_GB{
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	background: #fff;
	color: #5256ad;
	border-radius: 5px;
	cursor: pointer;
}


.th1{text-align: right;}
.th2{text-align: left;}



/* */

@media screen and (max-width:990px) {
	
	.col-6 { width:100% !important;
	padding: 100px}
	
}


.modal {
	display: none;
	z-index: 500;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}



.modalBox {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	background-color: #ffffff;
	width: 30%;
	height: 30%;
	text-align: center;
}

.modalBox img {
	width: 100%;
}
.pl{
	 text-align:center;
}



