@charset "utf-8";

body {
    /* padding-top: 135px; */
	background-color:  #f8f9fa !important; 
	margin:0 0 0 0; 
}
a {
    text-decoration: none !important;
    color: #3f51b5 !important;
}
.sub-title{
    /* margin: 80px auto; */
    color: #3f51b5;
    font-weight: bold;
    text-align: center;
}
.divider {
  width:100%;
  /* margin:0 auto; */
  margin: 77px auto;
  background:#3f51b5;
}
/* 네비게이션 바 그림자 */
header > nav {
    /* background-color: mediumpurple; */
    box-shadow: 0 1px 3px #3f51b5;
    transition:.3s ease-in-out;
}
#footer {
    background-color: #3f51b5;
    height: 350px;
    padding-top: 70px;
}
.title {
    color: #3f51b5;
    font-weight: bold;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* -------------------------------------------------------------- */
/* find_board */
#find-board {
    /* border: 2px solid #3f51b5; */
    /* box-shadow: 1px 1px 8px #3f51b5; */
}
#finder-photo {
    box-shadow: 1px 1px 8px #3f51b5;
}
#btn_eh { 
    background-color: #3f51b5;
    color: aliceblue;
}
#find-info-ksk li{
  list-style: none;
}
.float_eh {
    float:right;
}
/* 지도 크기 조절 */
#map-ksk{
  /* display: none; */
  width: 100%;
  height: 790px;
}
#map-frame-ksk{
  position: sticky;
  top: 133px;
}
@media screen and (max-width: 576px){
  #map-ksk{ 
    display: none;
    /* width: 100%;
    height: 200px;     */
  }
/*   #map{ */
/*  	display: none; */
/*   } */
  .sub-title{
    margin: 120px auto 70px; 
  }
}
@media screen and (min-width: 577px) and (max-width: 768px){
  #map-ksk{ 
    display: none;
    /* width: 100%;
    height: 200px;     */
  }
  .sub-title{
    margin: 130px auto 70px; 
  }
}
@media screen and (min-width: 769px) and (max-width: 960px){
  #map-ksk{ 
    width: 100%;
    height: 350px;  
    padding: 0%;  
  }
  .sub-title{
    margin: 150px auto 70px; 
  }
}  

@media screen and (min-width: 960px) and (max-width: 1200px){
  #map-ksk{ 
    width: 100%;
    height: 350px;  
    padding: 0%;  
  }
  .sub-title{
    margin: 170px auto 70px;
  }
} 
@media screen and (min-width: 1201px){
  #map-ksk{ 
    width: 100%;
    height: 350px;  
    padding: 0%;  
  }
  .sub-title{
    margin: 210px auto 70px; 
  }
} 



/*--------------------- 경진 -------------------------------------*/
#form-commentInfo-kj {
    width: 100%;
}

#comment-count-kj {
    margin-bottom: 10px;
}

#comment-input-kj {
    width: 50%;
    height: 3.3em;
}

#submit-kj {
    background-color: rgb(0, 128, 255);
    width: 5.5em;
    height: 3.3em;;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
}

#voteUp-kj, #voteDown-kj {
    width: 3.5em;
    height: 1.9em;
    background-color: aqua;
}

#comments-kj {
    margin-top: 10px;
}

.eachComment-kj {
    width: 50%;
    margin: 10px;
    padding: 0.5em;
    border-bottom: 1px solid #c1bcba;
}

.eachComment-kj .name-kj {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment-kj .inputValue-kj {
    font-size: 1.2em;
    font-style: italic;
}

.eachComment-kj .time-kj {
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.eachComment-kj .voteDiv-kj {
    display: flex;
    justify-content: flex-end;
}

.eachComment-kj .deleteComment-kj {
    background-color: red;
    color: aliceblue;
}

.in-line-kj #name-kj {
    width: 1200px;
    max-width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.arrow_box {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin: auto;
    align-content: center;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 20px;
}

.arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: ' ';
}
span:hover + p.arrow_box {
    display: block;
}

