<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mypet.mappers.findboardMapper">

	<!-- 은혜 실종공고 글쓰기 insert -->
	<insert id="insert_findboard">
		insert into find_board(board_code, nickname, title, content, readcount, pet_type,
								missing_date, pet_name, pet_age, pet_gender, address, address2, result, 
								insert_date, delete_date, detail_address, reward, email)
		values ('f',#{nickname},"title",
				#{content},#{readcount},#{pet_type},#{missing_date},
				#{pet_name},#{pet_age},#{pet_gender},#{address},#{address2},
				#{result},#{insert_date},#{delete_date},#{detail_address},#{reward}, #{email})
	</insert>
	
	<insert id="update_boardNum_forfile">
		update find_board_file
		set find_board_num = (select max(find_board_num) from find_board)
		where find_board_num = 0
	</insert>
	
	<!-- 은혜 실종공고 글쓰기 파일첨부 -->
	<insert id="insert_findboard_file">
		insert into find_board_file(file_num, find_board_num, board_code, upload, filename, save_filename, file_upload_date, ext)
		values (#{file_num},
				#{find_board_num},
				#{board_code},
				#{upload},
				#{filename},
				#{save_filename},
				#{file_upload_date},
				#{ext})
	</insert>
	

	<!-- 은혜 실종공고 글쓰기 maxnum -->
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(find_board_num) from find_board 
	</select>

	<!-- 은혜 실종공고 파일 maxnum -->
	<select id="getFileMaxNum" resultType="java.lang.Integer">
		select max(file_num) from find_board_file 
	</select>

	
	<select id="getfindBoard" resultType="com.mypet.domain.FindboardDTO">
		select * from find_board where find_board_num=#{find_board_num}
	</select>
	
	<!-- 댓글조회 -->
	<select id="readComment" resultType="com.mypet.domain.FindcommentDTO"> 
		SELECT * FROM find_comment
		where find_board_num = #{find_board_num}
	</select>
	
	<!-- 게시글 가져오기(모달용) -->
	<select id="bringfindBoard" resultType="com.mypet.domain.FindboardDTO">
		SELECT * FROM find_board
	</select>
	
	<select id="getfindBoardList" resultType="com.mypet.domain.FindboardDTO">
		select * from find_board order by find_board_num desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getfindFileList" resultType="com.mypet.domain.FileDTO">
		select concat(upload,"\\",filename) as upload from find_board_file order by find_board_num desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getfindMissBoardList" resultType="com.mypet.domain.FindboardDTO">
		select * from find_board where result = "1" order by find_board_num desc limit #{startRow},#{pageSize}
	</select>
	
		<select id="getfindBoardCount" resultType="java.lang.Integer">
		select count(*) from find_board
	</select>
	
	<select id="getfindMissBoardCount" resultType="java.lang.Integer">
		select count(*) from find_board where result="1"
	</select>
	
	<!-- 게시글 수정(모달) -->
	<update id="updatefindboard">
		update find_board 
		set pet_type=#{pet_type},
		pet_name=#{pet_name},
		pet_age=#{pet_age},
		pet_gender=#{pet_gender},
		missing_date=#{missing_date},
		address=#{address},
		address2=#{daaress2},
		detail_address=#{detail_address},
		content=#{content},
		contact=#{contact},
		where find_board_num=#{find_board_num}
	</update>

	<!-- 은혜 실공공고 글쓰기 지역검색 -->
	<select id="getProvinceList" resultType="Hashmap">
		select distinct address1 from address
	</select>
	<select id="getCityList" resultType="Hashmap">
		select distinct address2 from address where address1=#{province}
	</select>
	<select id="getTownList" resultType="com.mypet.domain.AddressDTO">
		select distinct address3 from address where address1=#{address1} and address2=#{address2}
	</select>

	<!-- 성기 -->
	<select id="getfindBoardListMain" resultType="com.mypet.domain.FindboardDTO">
		select CASE WHEN b.num is not null THEN 'Y' ELSE 'N' END AS book, a.* 
		  from find_board a
		 LEFT JOIN (
				SELECT *
		          FROM bookmark
				 where email = #{email}
		 ) b
		 ON a.find_board_num = b.find_board_num
		 order by a.insert_date desc
		 limit 8
	</select>

</mapper>