<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mypet.mappers.freeboardMapper">
	<insert id="writefreeBoard">
		insert into free_board (free_board_num, board_code, subject, content, nickname,insert_date) values
        ( #{free_board_num},'r', #{subject}, #{content}, #{nickname}, #{insert_date}  )
 
	</insert>
	
	<select id="getfreeMaxNum" resultType="java.lang.Integer">
		select max(free_board_num) from free_board
	</select>
	
	<select id="getfreeBoardList" resultType="com.mypet.domain.BoardDTO">
		select * from free_board order by free_board_num desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getfreeBoardCount" resultType="java.lang.Integer">
		select count(*) from free_board
	</select>
	
	<select id="getfreeBoard" resultType="com.mypet.domain.BoardDTO">
		select * from free_board where free_board_num=#{free_board_num}
	</select>
	
	<update id="updatefreeReadcount">
		update free_board set readcount=readcount+1 where free_board_num=#{free_board_num}
	</update>
	
	<update id="updatefreeBoard">
		update free_board set subject=#{subject}, content=#{content} where free_board_num=#{free_board_num}
	</update>
	
	<delete id="deletefreeBoard">
		delete from free_board where free_board_num=#{free_board_num}
	</delete>
</mapper>