<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mypet.mappers.MypageMapper">

	<select id="getMember" resultType="com.mypet.domain.MemberDTO">
		select * from user where email=#{email}
	</select>
	
	<select id="updateCheck" resultType="com.mypet.domain.MemberDTO">
		select * 
		  from user 
		 where nickname=#{nickname}
		 <if test="!email.equals('') and email != null">
		   and email = #{email}
		 </if>
		 <if test="!password.equals('') and password != null">
		   and password = #{password}
		 </if>
	</select>
	
	<update id="updateMember">
		update user set nickname=#{nickname} where email=#{email}
	</update>
	
	<delete id="deleteMember">
		delete from user where email=#{email} and password=#{password}
	</delete>
	
	<select id="getmyBoardList" resultType="com.mypet.domain.MypageDTO">
		select @rownum := @rownum + 1 as rownum, num, board_code, subject, readcount, nickname
		  from (
		   select free_board_num as num, board_code, subject, readcount, insert_date, nickname
			from free_board
			union all
		   select tip_board_num as num, board_code, subject, readcount, insert_date, nickname
			from tip_board
		    ) a, (select @rownum :=0) b
		where nickname = #{nickname}
		order by insert_date desc 
		limit 10
	</select>
	
	<select id="getmyfind_BoardList" resultType="com.mypet.domain.MypageDTO">
		select @rownum := @rownum + 1 as rownum, find_board_num as num, pet_name, detail_address, insert_date, readcount, email, bookmark_count
		  from find_board, (select @rownum :=0) b
		where email = #{email}
		order by insert_date desc 
		limit 10
	</select>
	
	<select id="pwCheck" resultType="com.mypet.domain.MemberDTO">
		<!-- select * from user where email=#{email} and password=#{password} -->
		 select case when user_id = '' then '불일치' else '일치' end as password
		    from (
		 select ifnull(max(user_id), '') as user_id
		   from user 
		   where email=#{email} and password=#{password}
		   ) a
	</select>
	
	<update id="pwUpdate">
		update user set password=#{password2} where email=#{email}
	</update>
	
<!-- 	<select id="getmyfind_BoardList" resultType="com.mypet.domain.MypageDTO"> -->
<!-- 		select @rownum := @rownum + 1 as rownum, num -->
	
	
<!-- 		select @rownum := @rownum + 1 as rownum, num, subject, readcount, nickname -->
<!-- 		  from ( -->
<!-- 		   select free_board_num as num, subject, readcount, insert_date, nickname -->
<!-- 			from free_board -->
<!-- 			union all -->
<!-- 		   select tip_board_num as num, subject, readcount, insert_date, nickname -->
<!-- 			from tip_board -->
<!-- 		    ) a, (select @rownum :=0) b -->
<!-- 		where nickname = #{nickname} -->
<!-- 		order by insert_date desc  -->
<!-- 		limit 10 -->
<!-- 	</select> -->
	
	<update id="updateUimage">
		UPDATE user set nickname=#{nickname} where=#{email}
	</update>
	
<!-- 	<select id="getmyBoardlistCount" resultType="java.lang.Integer"> -->
<!-- 		select count(*) from free_board -->
<!-- 	</select> -->

	<select id="getFindboardBookmarkList" resultType="com.mypet.domain.FindboardDTO">
		select f.*, ff.upload fileuploadpath 
		from find_board f
		join find_board_file ff
		on f.find_board_num = ff.find_board_num
		where f.find_board_num in (
				select find_board_num from bookmark
				where email=#{email});
	</select>
	
	<select id="getfindFileList" resultType="com.mypet.domain.FileDTO">
<!-- 		select upload from find_board_file order by find_board_num desc -->
		select ff.*
		from find_board_file ff
		join find_board f
		on ff.find_board_num = f.find_board_num
		where f.find_board_num in (
				select find_board_num from bookmark
				where email=#{email});
	</select>




</mapper>